* {
  box-sizing: border-box;
}
input[type="text"] {
width: 70%;
margin: 5% auto 0 auto;
border-radius: 5px;
text-align: left;
display: block;
height: 3%;
font-size: 1.4em;
}
#container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#container a {
  flex-basis: auto;
  margin: .4em 1em;


}

@media (min-width: 1036px) {
input[type="text"] {
  width: 35.5%;
}

#container {
flex-wrap: wrap;
width: 75%;
}

#container a {
  margin: 1em;
}
}
