* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  background: linear-gradient(to right,  black, white);
}
/*====== styles search bar=========*/
input[type="text"] {
width: 90%;
margin: 5% auto 0 auto;
padding: .5em;
border-radius: .5em;
box-shadow: inset  #00000;
text-align: left;
display: block;
font-size: 1.4em;
max-width: 500px;
}
img {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 300px;
}
p, h1 {
  text-align: center;
  color: white;
}


footer {
  margin-top: 12em;
}
 /*====== container with flexbox method=========*/
#container {
  max-width: 1000px;
  display: grid;
  margin: 1em auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;

}
